* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  color: white;
  background-image: url(./Images/background-img.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --shadow-color: rgba(109, 14, 14, 0.2);
}

/* navbar */
#topbar {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin-top: 1%;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navlinks {
  display: flex;
  justify-content: center;
}
.navbutton {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 125%;
  letter-spacing: 4px;
  font-weight: 600;
  transition: 0.6s;
  border: 2px solid var(--primary-color);
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
  margin-left: 2%;
  margin-right: 2%;
}

.navbutton:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
}

@media (max-width: 1200px) {
  .navbutton {
    font-size: 110%;
    padding: 3px 13px 3px 13px;
  }
}

@media (max-width: 1100px) {
  .navbutton {
    font-size: 90%;
    margin-right: 1%;
    margin-left: 2%;
  }
}
@media (max-width: 1000px) {
  #topbar {
    padding: 2%;
  }
  .navbutton {
    margin-left: 1%;
  }
}
@media (max-width: 950px) {
  .navbutton {
    font-size: 70%;
    margin-left: 1%;
    padding: 5px 15px 5px 15px;
  }
}

@media (max-width: 850px) {
  .navbutton {
    font-size: 60%;
  }
}
/* Landing */

#particles-js {
  background: var(--secondary-color);
  height: 100vh;
  position: relative;
}

.landingimg {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

#home {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.landing {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 10%;
  place-items: center;
  letter-spacing: 8px;
  font-size: 40px;
  gap: 20px;
}

.landing span {
  color: var(--primary-color);
  font-weight: 600;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.landing p {
  font-weight: 500;
}

.name {
  font-size: 45px;
  color: var(--primary-color);
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
}

@media (max-width: 1200px) {
  .landing {
    font-size: 35px;
  }

  .name {
    font-size: 40px;
  }
}

@media (max-width: 1100px) {
  .landingimg {
    width: 270px;
    height: 270px;
  }

  .landing {
    font-size: 30px;
    padding: 15%;
  }
}

/* Footer */
#footerbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin-bottom: 1%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

#footerbar h2 {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.8s;
  letter-spacing: 3px;
}

#footerbar h2:hover {
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.icons {
  display: flex;
  font-size: 125%;
  gap: 40%;
  margin-right: 12%;
}

.icons a {
  color: var(--primary-color);
  text-decoration: none;
}

.icons a:hover {
  color: var(--primary-color);
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
  transition: ease-in 0.4s;
}

@media (max-width: 1440px) {
  .icons {
    margin-right: 15%;
  }
}

@media (max-width: 1200px) {
  .icons {
    margin-right: 17%;
  }
}

@media (max-width: 1100px) {
  .icons {
    margin-right: 20%;
  }
}

@media (max-width: 950px) {
  .icons {
    margin-right: 25%;
  }
}

@media (max-width: 850px) {
  .icons {
    margin-right: 26%;
  }
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  margin-left: 11%;
  margin-right: 11%;
  object-fit: contain;
  padding: 6%;
}

.contentabout {
  display: flex;
}

#about h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 190%;
  letter-spacing: 6px;
  margin: 1%;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

#about h3 {
  text-decoration: underline;
}

#about img {
  width: 40%;
  height: 75%;
  object-fit: cover;
  margin: 30px;
  margin-top: 5%;
  border-radius: 50%;
}

.aboutwords {
  font-size: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 0px 5px 20px var(--shadow-color);
}

/* downloadbtn */
.downloadbtn {
  border: var(--primary-color) solid 3px;
  color: var(--primary-color);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  gap: 10px;
  text-decoration: none;
  border-radius: 25px;
}

.downloadbtn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
  transition: ease-in 0.5s;
}

@media (max-width: 1200px) {
  #about img {
    display: none;
  }

  .aboutwords {
    padding-right: 10px;
  }
}
@media (max-width: 1100px) {
  .aboutwords {
    font-size: 100%;
  }
  .downloadbtn {
    padding: 10px 18px;
  }
}

/* Hobbies */

#hobbie_head {
  display: flex;
  padding: 2%;
  justify-content: center;
  font-size: 190%;
  letter-spacing: 6px;
  color: var(--primary-color);
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--primary-color);
  width: 95%;
  max-width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.hobbiebtns {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hobbiebtn {
  padding: 20px 30px;
  font-size: 40px;
  transition: 0.5s ease;
  outline: none;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 700;
  background: var(--primary-color);
}

.hobbiebtn:hover {
  transform: rotateX(360deg);
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* Experience */
#experience {
  display: grid;
  margin-left: 1%;
  margin-right: 1%;
  color: var(--primary-color);
  font-size: 110%;
  font-weight: 700;
  padding: 10%;
}

#experience h4 {
  text-decoration: underline;
}

#experience h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 6px;
  flex-direction: column;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.work-history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10%;
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
}

.history-box {
  padding: 10px 40px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 50px 0;
  justify-content: space-evenly;
  border: solid 2px var(--primary-color);
  border-radius: 25px;
  transition: ease-in 0.8s;
}

.history-box:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.item1 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.item2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.item3 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.item4 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.timeline-line {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  justify-self: center;
  padding: 0px;
  border-radius: 10px;
  height: 100%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

@media (max-width: 1200px) {
  #experience {
    padding: 7%;
    font-size: 90%;
  }

  .work-history {
    padding: 10px 10%;
  }
}

@media (max-width: 1100px) {
  #experience {
    padding: 9%;
    font-size: 80%;
  }
}

/* Skills and education */
#Skills-education {
  display: grid;
  margin-left: 1%;
  margin-right: 1%;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8%;
  gap: 8px;
}

#Skills-education h2 {
  letter-spacing: 6px;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.educationwords {
  display: flex;
  margin: 5%;
}

.school {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  gap: 50px;
  width: 50%;
}

.school h4 {
  text-decoration: underline;
}

.subjects {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  gap: 15px;
  width: 50%;
}

.subjects h4 {
  text-decoration: underline;
}

.subjects i {
  display: flex;
  flex-direction: column;
}

.subject {
  display: flex;
}

.skill {
  text-decoration: underline;
}

.skills {
  display: flex;
  gap: 100px;
}

.circle {
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
  transition: ease-in 0.5s;
}

@media (max-width: 1200px) {
  .school {
    padding: 0px 40px;
  }

  .skills {
    gap: 70px;
  }

  .circle {
    font-size: 150%;
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 1100px) {
  .skills {
    gap: 40px;
  }
  .circle {
    font-size: 130%;
    width: 120px;
    height: 120px;
  }
  #Skills-education {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .skills {
    gap: 25px;
  }
  .circle {
    font-size: 120%;
    width: 110px;
    height: 110px;
  }
}

/* Project Cards */
#My-Projects {
  display: grid;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
  padding: 5%;
}

.fliter-container {
  display: flex;
  margin: 20px;
}

.fliter-btn {
  font-size: 100%;
  padding: 10px 20px;
  margin: 0px 15px;
  letter-spacing: 4px;
  background: none;
  color: white;
  font-weight: 800;
  border: white solid 2px;
  border-radius: 25px;
  outline: none;
  transition: 0.5s ease;
}

.fliter-btn:hover {
  background: white;
  color: black;
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
}

.projecthead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  flex-direction: column;
  margin-bottom: 4%;
  letter-spacing: 6px;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}
/* 
#img1 {
  background: linear-gradient(
      0deg,
      rgba(24, 23, 24, 0.3),
      rgba(24, 23, 24, 0.3)
    ),
    url(./Images/CONTACT\ FORM.png);
}
#img2 {
  background: linear-gradient(
      0deg,
      rgba(24, 23, 24, 0.3),
      rgba(24, 23, 24, 0.3)
    ),
    url(./Images/Timeline.png);
}
#img3 {
  background: linear-gradient(
      0deg,
      rgba(24, 23, 24, 0.3),
      rgba(24, 23, 24, 0.3)
    ),
    url(./Images/Testimonial.png);
}
#img4 {
  background: linear-gradient(
      0deg,
      rgba(24, 23, 24, 0.3),
      rgba(24, 23, 24, 0.3)
    ),
    url(./Images/Sneaker\ store.png);
} */

.card {
  width: 25%;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1%;
  justify-content: space-evenly;
  color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
  background: linear-gradient(
    0deg,
    rgba(24, 23, 24, 0.3),
    rgba(24, 23, 24, 0.3)
  );
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.buttons2 {
  display: flex;
}

.button2 {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 30%;
  margin-right: 1%;
  border: solid 3px var(--primary-color);
  border-radius: 25px;
}

.button2:hover {
  transition: ease-in 0.5s;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
}

@media (max-width: 1200px) {
  .card {
    width: 34%;
  }
}
@media (max-width: 411px) {
  #My-Projects {
    font-size: 14px;
    padding: 1%;
  }
}

/* Testimonial */
#testimonial {
  display: flex;
  color: var(--primary-color);
  font-size: 110%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
}

#testimonial h2 {
  color: var(--primary-color);
  display: flex;
  letter-spacing: 6px;
  justify-content: center;
  margin: 30px;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.wrapper {
  width: 100%;
}

.wrapper .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20x;
}

.carousel .carouselcard {
  line-height: 30px;
  text-align: center;
  margin: 20px 0px;
  border-radius: 10px;
  padding: 30px;
}

.testimonialimg {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 392px;
  height: 250px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  #testimonial {
    margin-right: 10%;
    margin-left: 10%;
  }

  .carousel .carouselcard {
    line-height: 20px;
    padding: 20px;
  }
}

@media (max-width: 950px) {
  .testimonialimg {
    width: 200px;
    height: 200px;
  }

  .carousel .carouselcard {
    line-height: 25px;
    padding: 15px;
  }
}

@media (max-width: 850px) {
  .carousel .carouselcard {
    padding: 10px;
  }
}

@media (max-width: 411px) {
  #testimonial {
    font-size: 80%;
  }
  .carousel .carouselcard {
    padding: 20px;
  }
}

/* Contact me */
#contactme {
  display: flex;
  margin-left: 6%;
  margin-right: 6%;
  color: var(--primary-color);
  font-size: 110%;
  font-weight: 700;
  padding: 8%;
  flex-direction: column;
  align-content: center;
}
.headcontactword {
  display: flex;
  flex-direction: row;
  letter-spacing: 6px;
  justify-content: center;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.contactsection {
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
}

.contactwords {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.info-align {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info-align i {
  font-size: 20px;
  margin-right: 20px;
}

.info h3 {
  text-decoration: underline;
}

.icons2 {
  display: flex;
  gap: 40px;
  font-size: 30px;
}

.icons2 a {
  color: var(--primary-color);
  text-decoration: none;
}

.icons2 a:hover {
  transition: ease-in 0.4s;
  text-shadow: 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color);
}

.contact-input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0 0 20px 0;
  background: none;
  font-size: 15px;
  color: var(--primary-color);
}

.contact-form-details {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 430px;
  width: 500px;
  gap: 30px;
  padding: 35px;
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
  backdrop-filter: blur(1px);
}

.btn2 {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 2px solid;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  background: none;
  font-size: 15px;
  outline: none;
}

.btn2:hover {
  transition: ease-in 0.3s;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color),
    0px 5px 20px var(--shadow-color), 0px 5px 20px var(--shadow-color);
}

.btn2space {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .contact-form-details {
    width: 400px;
  }

  #contactme {
    font-size: 80%;
    padding-bottom: 10%;
  }
}
@media (max-width: 1100px) {
  .contact-form-details {
    width: 320px;
    height: 380px;
    padding: 10%;
  }
  .info-align {
    gap: 30px;
  }
}

@media (max-width: 950px) {
  #contactme {
    padding-top: 1%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 12%;
    font-size: 90%;
  }

  .contact-form-details {
    width: 280px;
  }
}

@media (max-width: 850px) {
  .contactsection {
    gap: 20px;
  }
}

@media (max-width: 411px) {
  #contactme {
    padding: 0px;
    padding-bottom: 25%;
    font-size: 70%;
  }
  .contactsection {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .info-align {
    flex-direction: row;
  }
  .icons2 {
    display: none;
  }
  .info {
    padding: 20px;
  }
}
